html, body {
    height:100%; 
    width:100%; 
    margin:0; 
    padding:0;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);}

.done {
    color: rgb(255, 255, 255);
    text-decoration: line-through;
}

li {
    margin-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border: 2px solid #3E46D1;
    border-radius: 30px;
    margin-bottom: 0.5rem;
}



